<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button class="btn" icon="md-arrow-dropleft" text="Voltar" (click)="back()"></ion-back-button>
        </ion-buttons>
    <ion-title class="title" text-center>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-footer no-border>
  <ion-button (click)="clickButton()" color="warning" shape="round" expand="block">
    <ion-icon *ngIf="!played" name="play"></ion-icon>
    <ion-icon *ngIf="played" name="pause"></ion-icon>
  </ion-button>
</ion-footer>