<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="btn" icon="md-arrow-dropleft" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Anotação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-textarea rows="25" cols="1" placeholder="Escreve ai..." #campoInput>          
    </ion-textarea>
  </ion-item>
</ion-content>

<ion-footer no-border>
  <ion-button shape="round" expand="block" color="warning" slot="end" (click)="salvar(campoInput.value)">
    Salvar
  </ion-button>
</ion-footer>