<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audio">
      <ion-icon name="mic"></ion-icon>
      <ion-label>Gravar Audio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Câmera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="note">
      <ion-icon name="create"></ion-icon>
      <ion-label>Criar Nota</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
