<ion-header>
  <ion-toolbar>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>
	
<ion-content>
	 <ion-item>
    <ion-label text-wrap>
      <ion-text ><h2>{{camera.title}}</h2></ion-text>

      <ion-text color="medium">
      
    </ion-text>
    <ion-icon md="md-photos" size="small" slot="end"></ion-icon>
    </ion-label>
  </ion-item>

</ion-content>

<ion-footer>
<<<<<<< HEAD
	<ion-button ion-button color="success" expand="block" (click) = "takePhoto()">
=======
	<ion-button ion-button color="success" expand="block" (click)="teste()">
>>>>>>> origin
	<ion-icon ios="ios-image" md="md-image"></ion-icon>
	Nova Foto
    </ion-button>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>