<ion-header>
  <ion-toolbar>
    <ion-title class="title" text-center>Audio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let audio of audioFile" lines="none">
    <ion-label text-wrap (click)="openManager(audio)">
      <ion-text class="audio-name"><h2>{{audio.fileName}}</h2></ion-text>

      <small class="resumo-descricao">{{audio.class}} • {{audio.size}}KB</small>
    </ion-label>
    <ion-icon name="md-more" size="small" slot="end" (click)="openDetails(audio)"></ion-icon>
  </ion-item>
  <!-- <ion-icon name="microphone" size="large"></ion-icon> -->
</ion-content>
<ion-text *ngIf="texto" slot="text-center" color="danger">
  <h4 >{{texto}}</h4>
</ion-text>
<ion-footer no-border>
    <ion-button (click)="record()" shape="round" expand="block" color="warning" slot="end">
        <ion-icon name="microphone"></ion-icon>
    </ion-button>
  </ion-footer>

