<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="welcome-card">  
        <ion-card-subtitle></ion-card-subtitle>
        <ion-label class="title">
          <div>{{title}}</div>
        </ion-label>
      <ion-card-content>
      </ion-card-content>
</ion-content>

