ion-content {
    /* Set the background of the entire app */
    --ion-background-color: #0cd1e8;
  
    /* Set the font family of the entire app */
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
  
  }
  .title{
      display: block;
      margin:0 auto;
        width: 10%;
          padding: 20px;
      color: #ffffff;
      font-size: 50px;
  
      display: flex;
    justify-content: center;
  }
  