<ion-header>
  <ion-toolbar>
    <ion-title text-center>Bloco de Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let variavel of item" lines="none" detail routerLink="/detalhes"
  [queryParams]="{name:variavel.nome, component:'note'}">
    <ion-label text-wrap>
      <ion-text class="note-name"><h2>{{variavel.nome}}</h2></ion-text>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer no-border>
  <ion-button shape="round" expand="block" color="warning" slot="end" routerLink="/new-note">
      <ion-icon name="book"></ion-icon>
  </ion-button>
</ion-footer>