<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button class="btn" icon="md-arrow-dropleft" text="Voltar"></ion-back-button>
      </ion-buttons>
    <ion-title class="center">Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="component=='note'">  

  <ion-label>{{name}}</ion-label>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="large">
      <ion-fab-button>
        <ion-icon class="btn" name="md-create"></ion-icon>
      </ion-fab-button>
          
      <ion-fab-list side="top">
        <ion-fab-button><ion-label (click)="edit()">Editar</ion-label></ion-fab-button>
      </ion-fab-list>
            
      <ion-fab-list side="start">
        <ion-fab-button (click)="excluir()"><ion-label>Excluir</ion-label></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
 
  <!-- <ion-item  lines="inset">
    <ion-label text-wrap>
      <ion-text >
        <h2 class="title">Nome</h2> 
        <p class="text">{{details.nome}}</p>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item  lines="inset">
    <ion-label text-wrap>
      <ion-text >
        <h2 class="title">Conteúdo</h2> 
        <p class="text">{{details.conteudo}}</p>
      </ion-text>
    </ion-label>
  </ion-item> -->

</ion-content>

<ion-content *ngIf="component=='audio'">

      <ion-item  lines="inset">
        <ion-label text-wrap>
          <ion-text >
            <h2 class="title">Nome</h2> 
            <p class="text">{{details.fileName}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="inset">
        <ion-label text-wrap>
          <ion-text >
            <h2 class="title">Aula</h2> 
            <p class="text">{{details.class}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item  lines="inset">
        <ion-label text-wrap>
          <ion-text >
            <h2 class="title">Data de criação</h2> 
            <p class="text">{{details.date}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item  lines="inset">
          <ion-label text-wrap>
            <ion-text >
              <h2 class="title">Tamanho</h2> 
              <p class="text">{{details.size}}KB</p>
            </ion-text>
          </ion-label>
        </ion-item>




</ion-content>
