ion-content {
    /* Set the background of the entire app */
    --ion-background-color: rgba(255,255,255, 0.9) !important;
  
  }

ion-item {
  /* Set the background of the entire app */
  --ion-background-color: rgba(0,0,0, 0.0) !important;

}

.btn {
  color: goldenrod;
}

.title {
  color: goldenrod;
}

.text{
  margin: 8px;
  color: gray;
}
